.w_a { width: auto; }
.w_0rem { width: 0rem; }
.miw_0rem { min-width: 0rem; }
.maw_0rem { max-width: 0rem; }
.w_0\.5rem { width: 0.5rem; }
.miw_0\.5rem { min-width: 0.5rem; }
.maw_0\.5rem { max-width: 0.5rem; }
.w_24rem { width: 24rem; }
.miw_24rem { min-width: 24rem; }
.maw_24rem { max-width: 24rem; }
.w_100\% { width: 100%; }
.miw_100\% { min-width: 100%; }
.maw_100\% { max-width: 100%; }
.h_a { height: auto; }
.h_50 { height: 50px; }
.mih_50 { min-height: 50px; }
.mah_50 { max-height: 50px; }
.h_100 { height: 100px; }
.mih_100 { min-height: 100px; }
.mah_100 { max-height: 100px; }
.m_0 { margin: 0px; }
.mt_0 { margin-top: 0px; }
.mb_0 { margin-bottom: 0px; }
.mver_0 { margin-top: 0px; margin-bottom: 0px; }
.ml_0 { margin-left: 0px; }
.mr_0 { margin-right: 0px; }
.mhor_0 { margin-left: 0px; margin-right: 0px; }
.m_5 { margin: 5px; }
.mt_5 { margin-top: 5px; }
.mb_5 { margin-bottom: 5px; }
.mver_5 { margin-top: 5px; margin-bottom: 5px; }
.ml_5 { margin-left: 5px; }
.mr_5 { margin-right: 5px; }
.mhor_5 { margin-left: 5px; margin-right: 5px; }
.m_10 { margin: 10px; }
.mt_10 { margin-top: 10px; }
.mb_10 { margin-bottom: 10px; }
.mver_10 { margin-top: 10px; margin-bottom: 10px; }
.ml_10 { margin-left: 10px; }
.mr_10 { margin-right: 10px; }
.mhor_10 { margin-left: 10px; margin-right: 10px; }
.m_15 { margin: 15px; }
.mt_15 { margin-top: 15px; }
.mb_15 { margin-bottom: 15px; }
.mver_15 { margin-top: 15px; margin-bottom: 15px; }
.ml_15 { margin-left: 15px; }
.mr_15 { margin-right: 15px; }
.mhor_15 { margin-left: 15px; margin-right: 15px; }
.m_20 { margin: 20px; }
.mt_20 { margin-top: 20px; }
.mb_20 { margin-bottom: 20px; }
.mver_20 { margin-top: 20px; margin-bottom: 20px; }
.ml_20 { margin-left: 20px; }
.mr_20 { margin-right: 20px; }
.mhor_20 { margin-left: 20px; margin-right: 20px; }
.m_25 { margin: 25px; }
.mt_25 { margin-top: 25px; }
.mb_25 { margin-bottom: 25px; }
.mver_25 { margin-top: 25px; margin-bottom: 25px; }
.ml_25 { margin-left: 25px; }
.mr_25 { margin-right: 25px; }
.mhor_25 { margin-left: 25px; margin-right: 25px; }
.m_30 { margin: 30px; }
.mt_30 { margin-top: 30px; }
.mb_30 { margin-bottom: 30px; }
.mver_30 { margin-top: 30px; margin-bottom: 30px; }
.ml_30 { margin-left: 30px; }
.mr_30 { margin-right: 30px; }
.mhor_30 { margin-left: 30px; margin-right: 30px; }
.m_35 { margin: 35px; }
.mt_35 { margin-top: 35px; }
.mb_35 { margin-bottom: 35px; }
.mver_35 { margin-top: 35px; margin-bottom: 35px; }
.ml_35 { margin-left: 35px; }
.mr_35 { margin-right: 35px; }
.mhor_35 { margin-left: 35px; margin-right: 35px; }
.m_40 { margin: 40px; }
.mt_40 { margin-top: 40px; }
.mb_40 { margin-bottom: 40px; }
.mver_40 { margin-top: 40px; margin-bottom: 40px; }
.ml_40 { margin-left: 40px; }
.mr_40 { margin-right: 40px; }
.mhor_40 { margin-left: 40px; margin-right: 40px; }
.m_45 { margin: 45px; }
.mt_45 { margin-top: 45px; }
.mb_45 { margin-bottom: 45px; }
.mver_45 { margin-top: 45px; margin-bottom: 45px; }
.ml_45 { margin-left: 45px; }
.mr_45 { margin-right: 45px; }
.mhor_45 { margin-left: 45px; margin-right: 45px; }
.m_50 { margin: 50px; }
.mt_50 { margin-top: 50px; }
.mb_50 { margin-bottom: 50px; }
.mver_50 { margin-top: 50px; margin-bottom: 50px; }
.ml_50 { margin-left: 50px; }
.mr_50 { margin-right: 50px; }
.mhor_50 { margin-left: 50px; margin-right: 50px; }
.m_-80 { margin: -80px; }
.mt_-80 { margin-top: -80px; }
.mb_-80 { margin-bottom: -80px; }
.mver_-80 { margin-top: -80px; margin-bottom: -80px; }
.ml_-80 { margin-left: -80px; }
.mr_-80 { margin-right: -80px; }
.mhor_-80 { margin-left: -80px; margin-right: -80px; }
.p_0 { padding: 0px; }
.pt_0 { padding-top: 0px; }
.pb_0 { padding-bottom: 0px; }
.pv_0 { padding-top: 0px; padding-bottom: 0px; }
.pl_0 { padding-left: 0px; }
.pr_0 { padding-right: 0px; }
.ph_0 { padding-left: 0px; padding-right: 0px; }
.p_5 { padding: 5px; }
.pt_5 { padding-top: 5px; }
.pb_5 { padding-bottom: 5px; }
.pv_5 { padding-top: 5px; padding-bottom: 5px; }
.pl_5 { padding-left: 5px; }
.pr_5 { padding-right: 5px; }
.ph_5 { padding-left: 5px; padding-right: 5px; }
.p_10 { padding: 10px; }
.pt_10 { padding-top: 10px; }
.pb_10 { padding-bottom: 10px; }
.pv_10 { padding-top: 10px; padding-bottom: 10px; }
.pl_10 { padding-left: 10px; }
.pr_10 { padding-right: 10px; }
.ph_10 { padding-left: 10px; padding-right: 10px; }
.p_15 { padding: 15px; }
.pt_15 { padding-top: 15px; }
.pb_15 { padding-bottom: 15px; }
.pv_15 { padding-top: 15px; padding-bottom: 15px; }
.pl_15 { padding-left: 15px; }
.pr_15 { padding-right: 15px; }
.ph_15 { padding-left: 15px; padding-right: 15px; }
.p_20 { padding: 20px; }
.pt_20 { padding-top: 20px; }
.pb_20 { padding-bottom: 20px; }
.pv_20 { padding-top: 20px; padding-bottom: 20px; }
.pl_20 { padding-left: 20px; }
.pr_20 { padding-right: 20px; }
.ph_20 { padding-left: 20px; padding-right: 20px; }
.p_25 { padding: 25px; }
.pt_25 { padding-top: 25px; }
.pb_25 { padding-bottom: 25px; }
.pv_25 { padding-top: 25px; padding-bottom: 25px; }
.pl_25 { padding-left: 25px; }
.pr_25 { padding-right: 25px; }
.ph_25 { padding-left: 25px; padding-right: 25px; }
.p_30 { padding: 30px; }
.pt_30 { padding-top: 30px; }
.pb_30 { padding-bottom: 30px; }
.pv_30 { padding-top: 30px; padding-bottom: 30px; }
.pl_30 { padding-left: 30px; }
.pr_30 { padding-right: 30px; }
.ph_30 { padding-left: 30px; padding-right: 30px; }
.p_35 { padding: 35px; }
.pt_35 { padding-top: 35px; }
.pb_35 { padding-bottom: 35px; }
.pv_35 { padding-top: 35px; padding-bottom: 35px; }
.pl_35 { padding-left: 35px; }
.pr_35 { padding-right: 35px; }
.ph_35 { padding-left: 35px; padding-right: 35px; }
.p_40 { padding: 40px; }
.pt_40 { padding-top: 40px; }
.pb_40 { padding-bottom: 40px; }
.pv_40 { padding-top: 40px; padding-bottom: 40px; }
.pl_40 { padding-left: 40px; }
.pr_40 { padding-right: 40px; }
.ph_40 { padding-left: 40px; padding-right: 40px; }
.p_45 { padding: 45px; }
.pt_45 { padding-top: 45px; }
.pb_45 { padding-bottom: 45px; }
.pv_45 { padding-top: 45px; padding-bottom: 45px; }
.pl_45 { padding-left: 45px; }
.pr_45 { padding-right: 45px; }
.ph_45 { padding-left: 45px; padding-right: 45px; }
.p_50 { padding: 50px; }
.pt_50 { padding-top: 50px; }
.pb_50 { padding-bottom: 50px; }
.pv_50 { padding-top: 50px; padding-bottom: 50px; }
.pl_50 { padding-left: 50px; }
.pr_50 { padding-right: 50px; }
.ph_50 { padding-left: 50px; padding-right: 50px; }
.ff_pri { font-family: 'Archivo Black', sans-serif; }
.ff_sec { font-family: 'Montserrat', sans-serif; }
.fz_8 { font-size: 8px; }
.fz_10 { font-size: 10px; }
.fz_12 { font-size: 12px; }
.fz_14 { font-size: 14px; }
.fz_16 { font-size: 16px; }
.fz_18 { font-size: 18px; }
.fz_20 { font-size: 20px; }
.fz_22 { font-size: 22px; }
.fz_24 { font-size: 24px; }
.bd_n { border: none; }
.bdt_n { border-top: none; }
.bdb_n { border-bottom: none; }
.bdl_n { border-left: none; }
.bdr_n { border-right: none; }
.bd_sep { border: 1px solid rgba(0,0,0,0.1); }
.bdt_sep { border-top: 1px solid rgba(0,0,0,0.1); }
.bdb_sep { border-bottom: 1px solid rgba(0,0,0,0.1); }
.bdl_sep { border-left: 1px solid rgba(0,0,0,0.1); }
.bdr_sep { border-right: 1px solid rgba(0,0,0,0.1); }
.bd_frame { border: 10px solid #fff; }
.bdt_frame { border-top: 10px solid #fff; }
.bdb_frame { border-bottom: 10px solid #fff; }
.bdl_frame { border-left: 10px solid #fff; }
.bdr_frame { border-right: 10px solid #fff; }
.bdrs_15 { border-radius: 15px; }
.bdrs_50\% { border-radius: 50%; }
.bgc_primary { background-color: #37474f; }
.c_primary { color: #37474f; }
.bgc_secondary { background-color: #9C8D5D; }
.c_secondary { color: #9C8D5D; }
.bgc_secondary_dark { background-color: #5C5337; }
.c_secondary_dark { color: #5C5337; }
.bgc_secondary_darker { background-color: #82764E; }
.c_secondary_darker { color: #82764E; }
.bgc_secondary_light { background-color: #A89965; }
.c_secondary_light { color: #A89965; }
.bgc_secondary_lighter { background-color: #E8D28B; }
.c_secondary_lighter { color: #E8D28B; }
.bgc_tertiary { background-color: #9C857C; }
.c_tertiary { color: #9C857C; }
.bgc_tertiary_light { background-color: #A88F85; }
.c_tertiary_light { color: #A88F85; }
.bgc_tertiary_lighter { background-color: #E8C5B7; }
.c_tertiary_lighter { color: #E8C5B7; }
.bgc_primary { background-color: #37474f; }
.bgc_secondary { background-color: #9C8D5D; }
.bgc_secondary_dark { background-color: #5C5337; }
.bgc_secondary_darker { background-color: #82764E; }
.bgc_secondary_light { background-color: #A89965; }
.bgc_secondary_lighter { background-color: #E8D28B; }
.bgc_tertiary { background-color: #9C857C; }
.bgc_tertiary_light { background-color: #A88F85; }
.bgc_tertiary_lighter { background-color: #E8C5B7; }
.bgp_b { background-position: bottom; }
.bgp_t { background-position: top; }
.bgp_l { background-position: left; }
.bgp_r { background-position: right; }
.bgp_c { background-position: center; }
.fx_a { flex: auto; }
.fx_n { flex: none; }
.fxb_a { flex-basis: auto; }
.ord_u { order: unset; }
.fxd_c { flex-direction: column; }
.fxd_cr { flex-direction: column-reverse; }
.fxd_r { flex-direction: row; }
.fxd_rr { flex-direction: row-reverse; }
.fxw_n { flex-wrap: nowrap; }
.fxw_w { flex-wrap: wrap; }
.fxw_we { flex-wrap: wrap-reverse; }
.fxw_u { flex-wrap: unset; }
.jc_u { justify-content: unset; }
.jc_c { justify-content: center; }
.jc_fe { justify-content: flex-end; }
.jc_fs { justify-content: flex-start; }
.jc_sa { justify-content: space-around; }
.jc_sb { justify-content: space-between; }
.ac_c { align-content: center; }
.ac_fe { align-content: flex-end; }
.ac_fs { align-content: flex-start; }
.ac_s { align-content: stretch; }
.ac_sa { align-content: space-around; }
.ac_sb { align-content: space-between; }
.ai_b { align-items: baseline; }
.ai_c { align-items: center; }
.ai_fe { align-items: flex-end; }
.ai_fs { align-items: flex-start; }
.ai_s { align-items: stretch; }
.z_a { z-index: auto; }
.bxsh_air { box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08); }
.bxsh_n { box-shadow: none; }
.tsh_n { text-shadow: none; }
.d_n { display: none; }
.d_i { display: inline; }
.d_b { display: block; }
.d_ib { display: inline-block; }
.d_f { display: flex; }
.d_if { display: inline-flex; }
.d_t { display: table; }
.d_g { display: grid; }
.d_ig { display: inline-grid; }
.pos_s { position: static; }
.pos_r { position: relative; }
.pos_a { position: absolute; }
.pos_f { position: fixed; }
.va_sup { vertical-align: super; }
.va_t { vertical-align: top; }
.va_tt { vertical-align: text-top; }
.va_m { vertical-align: middle; }
.va_bl { vertical-align: baseline; }
.va_b { vertical-align: bottom; }
.va_tb { vertical-align: text-bottom; }
.va_sub { vertical-align: sub; }
.ta_l { text-align: left; }
.ta_c { text-align: center; }
.ta_r { text-align: right; }
.ta_j { text-align: justify; }
.tal_a { text-align-last: auto; }
.tal_l { text-align-last: left; }
.tal_c { text-align-last: center; }
.tal_r { text-align-last: right; }
.td_n { text-decoration: none; }
.td_u { text-decoration: underline; }
.td_o { text-decoration: overline; }
.td_l { text-decoration: line-through; }
.te_n { text-emphasis: none; }
.te_ac { text-emphasis: accent; }
.te_dt { text-emphasis: dot; }
.te_c { text-emphasis: circle; }
.te_ds { text-emphasis: disc; }
.te_b { text-emphasis: before; }
.te_a { text-emphasis: after; }
.tt_n { text-transform: none; }
.tt_c { text-transform: capitalize; }
.tt_u { text-transform: uppercase; }
.tt_l { text-transform: lowercase; }
.whs_n { white-space: normal; }
.whs_p { white-space: pre; }
.whs_nw { white-space: nowrap; }
.whs_pw { white-space: pre-wrap; }
.whs_pl { white-space: pre-line; }
.v_v { visibility: visible; }
.v_h { visibility: hidden; }
.v_c { visibility: collapse; }
.cur_a { cursor: auto; }
.cur_d { cursor: default; }
.cur_c { cursor: crosshair; }
.cur_ha { cursor: hand; }
.cur_he { cursor: help; }
.cur_m { cursor: move; }
.cur_p { cursor: pointer; }
.cur_t { cursor: text; }
.lis_n { list-style: none; }
.lisp_i { list-style-position: inside; }
.lisp_o { list-style-position: outside; }
.list_n { list-style-type: none; }
.list_d { list-style-type: disc; }
.list_c { list-style-type: circle; }
.list_s { list-style-type: square; }
.list_dc { list-style-type: decimal; }
.list_dclz { list-style-type: decimal-leading-zero; }
.list_lr { list-style-type: lower-roman; }
.list_ur { list-style-type: upper-roman; }
.lisi_n { list-style-image: none; }
.ov_v { overflow: visible; }
.ov_h { overflow: hidden; }
.ov_s { overflow: scroll; }
.ov_a { overflow: auto; }
.ovx_v { overflow-x: visible; }
.ovx_h { overflow-x: hidden; }
.ovx_s { overflow-x: scroll; }
.ovx_a { overflow-x: auto; }
.ovy_v { overflow-y: visible; }
.ovy_h { overflow-y: hidden; }
.ovy_s { overflow-y: scroll; }
.ovy_a { overflow-y: auto; }
.op_0 { opacity: 0; }
.op_01 { opacity: 0.1; }
.op_02 { opacity: 0.2; }
.op_03 { opacity: 0.3; }
.op_04 { opacity: 0.4; }
.op_05 { opacity: 0.5; }
.op_06 { opacity: 0.6; }
.op_07 { opacity: 0.7; }
.op_08 { opacity: 0.8; }
.op_09 { opacity: 0.9; }
.op_1 { opacity: 1; }

@media only screen and (min-width: 768px) {
.md\:w_a { width: auto; }
.md\:w_0rem { width: 0rem; }
.md\:miw_0rem { min-width: 0rem; }
.md\:maw_0rem { max-width: 0rem; }
.md\:w_0\.5rem { width: 0.5rem; }
.md\:miw_0\.5rem { min-width: 0.5rem; }
.md\:maw_0\.5rem { max-width: 0.5rem; }
.md\:w_24rem { width: 24rem; }
.md\:miw_24rem { min-width: 24rem; }
.md\:maw_24rem { max-width: 24rem; }
.md\:w_100\% { width: 100%; }
.md\:miw_100\% { min-width: 100%; }
.md\:maw_100\% { max-width: 100%; }
.md\:h_a { height: auto; }
.md\:h_50 { height: 50px; }
.md\:mih_50 { min-height: 50px; }
.md\:mah_50 { max-height: 50px; }
.md\:h_100 { height: 100px; }
.md\:mih_100 { min-height: 100px; }
.md\:mah_100 { max-height: 100px; }
.md\:m_0 { margin: 0px; }
.md\:mt_0 { margin-top: 0px; }
.md\:mb_0 { margin-bottom: 0px; }
.md\:mver_0 { margin-top: 0px; margin-bottom: 0px; }
.md\:ml_0 { margin-left: 0px; }
.md\:mr_0 { margin-right: 0px; }
.md\:mhor_0 { margin-left: 0px; margin-right: 0px; }
.md\:m_5 { margin: 5px; }
.md\:mt_5 { margin-top: 5px; }
.md\:mb_5 { margin-bottom: 5px; }
.md\:mver_5 { margin-top: 5px; margin-bottom: 5px; }
.md\:ml_5 { margin-left: 5px; }
.md\:mr_5 { margin-right: 5px; }
.md\:mhor_5 { margin-left: 5px; margin-right: 5px; }
.md\:m_10 { margin: 10px; }
.md\:mt_10 { margin-top: 10px; }
.md\:mb_10 { margin-bottom: 10px; }
.md\:mver_10 { margin-top: 10px; margin-bottom: 10px; }
.md\:ml_10 { margin-left: 10px; }
.md\:mr_10 { margin-right: 10px; }
.md\:mhor_10 { margin-left: 10px; margin-right: 10px; }
.md\:m_15 { margin: 15px; }
.md\:mt_15 { margin-top: 15px; }
.md\:mb_15 { margin-bottom: 15px; }
.md\:mver_15 { margin-top: 15px; margin-bottom: 15px; }
.md\:ml_15 { margin-left: 15px; }
.md\:mr_15 { margin-right: 15px; }
.md\:mhor_15 { margin-left: 15px; margin-right: 15px; }
.md\:m_20 { margin: 20px; }
.md\:mt_20 { margin-top: 20px; }
.md\:mb_20 { margin-bottom: 20px; }
.md\:mver_20 { margin-top: 20px; margin-bottom: 20px; }
.md\:ml_20 { margin-left: 20px; }
.md\:mr_20 { margin-right: 20px; }
.md\:mhor_20 { margin-left: 20px; margin-right: 20px; }
.md\:m_25 { margin: 25px; }
.md\:mt_25 { margin-top: 25px; }
.md\:mb_25 { margin-bottom: 25px; }
.md\:mver_25 { margin-top: 25px; margin-bottom: 25px; }
.md\:ml_25 { margin-left: 25px; }
.md\:mr_25 { margin-right: 25px; }
.md\:mhor_25 { margin-left: 25px; margin-right: 25px; }
.md\:m_30 { margin: 30px; }
.md\:mt_30 { margin-top: 30px; }
.md\:mb_30 { margin-bottom: 30px; }
.md\:mver_30 { margin-top: 30px; margin-bottom: 30px; }
.md\:ml_30 { margin-left: 30px; }
.md\:mr_30 { margin-right: 30px; }
.md\:mhor_30 { margin-left: 30px; margin-right: 30px; }
.md\:m_35 { margin: 35px; }
.md\:mt_35 { margin-top: 35px; }
.md\:mb_35 { margin-bottom: 35px; }
.md\:mver_35 { margin-top: 35px; margin-bottom: 35px; }
.md\:ml_35 { margin-left: 35px; }
.md\:mr_35 { margin-right: 35px; }
.md\:mhor_35 { margin-left: 35px; margin-right: 35px; }
.md\:m_40 { margin: 40px; }
.md\:mt_40 { margin-top: 40px; }
.md\:mb_40 { margin-bottom: 40px; }
.md\:mver_40 { margin-top: 40px; margin-bottom: 40px; }
.md\:ml_40 { margin-left: 40px; }
.md\:mr_40 { margin-right: 40px; }
.md\:mhor_40 { margin-left: 40px; margin-right: 40px; }
.md\:m_45 { margin: 45px; }
.md\:mt_45 { margin-top: 45px; }
.md\:mb_45 { margin-bottom: 45px; }
.md\:mver_45 { margin-top: 45px; margin-bottom: 45px; }
.md\:ml_45 { margin-left: 45px; }
.md\:mr_45 { margin-right: 45px; }
.md\:mhor_45 { margin-left: 45px; margin-right: 45px; }
.md\:m_50 { margin: 50px; }
.md\:mt_50 { margin-top: 50px; }
.md\:mb_50 { margin-bottom: 50px; }
.md\:mver_50 { margin-top: 50px; margin-bottom: 50px; }
.md\:ml_50 { margin-left: 50px; }
.md\:mr_50 { margin-right: 50px; }
.md\:mhor_50 { margin-left: 50px; margin-right: 50px; }
.md\:m_-80 { margin: -80px; }
.md\:mt_-80 { margin-top: -80px; }
.md\:mb_-80 { margin-bottom: -80px; }
.md\:mver_-80 { margin-top: -80px; margin-bottom: -80px; }
.md\:ml_-80 { margin-left: -80px; }
.md\:mr_-80 { margin-right: -80px; }
.md\:mhor_-80 { margin-left: -80px; margin-right: -80px; }
.md\:p_0 { padding: 0px; }
.md\:pt_0 { padding-top: 0px; }
.md\:pb_0 { padding-bottom: 0px; }
.md\:pv_0 { padding-top: 0px; padding-bottom: 0px; }
.md\:pl_0 { padding-left: 0px; }
.md\:pr_0 { padding-right: 0px; }
.md\:ph_0 { padding-left: 0px; padding-right: 0px; }
.md\:p_5 { padding: 5px; }
.md\:pt_5 { padding-top: 5px; }
.md\:pb_5 { padding-bottom: 5px; }
.md\:pv_5 { padding-top: 5px; padding-bottom: 5px; }
.md\:pl_5 { padding-left: 5px; }
.md\:pr_5 { padding-right: 5px; }
.md\:ph_5 { padding-left: 5px; padding-right: 5px; }
.md\:p_10 { padding: 10px; }
.md\:pt_10 { padding-top: 10px; }
.md\:pb_10 { padding-bottom: 10px; }
.md\:pv_10 { padding-top: 10px; padding-bottom: 10px; }
.md\:pl_10 { padding-left: 10px; }
.md\:pr_10 { padding-right: 10px; }
.md\:ph_10 { padding-left: 10px; padding-right: 10px; }
.md\:p_15 { padding: 15px; }
.md\:pt_15 { padding-top: 15px; }
.md\:pb_15 { padding-bottom: 15px; }
.md\:pv_15 { padding-top: 15px; padding-bottom: 15px; }
.md\:pl_15 { padding-left: 15px; }
.md\:pr_15 { padding-right: 15px; }
.md\:ph_15 { padding-left: 15px; padding-right: 15px; }
.md\:p_20 { padding: 20px; }
.md\:pt_20 { padding-top: 20px; }
.md\:pb_20 { padding-bottom: 20px; }
.md\:pv_20 { padding-top: 20px; padding-bottom: 20px; }
.md\:pl_20 { padding-left: 20px; }
.md\:pr_20 { padding-right: 20px; }
.md\:ph_20 { padding-left: 20px; padding-right: 20px; }
.md\:p_25 { padding: 25px; }
.md\:pt_25 { padding-top: 25px; }
.md\:pb_25 { padding-bottom: 25px; }
.md\:pv_25 { padding-top: 25px; padding-bottom: 25px; }
.md\:pl_25 { padding-left: 25px; }
.md\:pr_25 { padding-right: 25px; }
.md\:ph_25 { padding-left: 25px; padding-right: 25px; }
.md\:p_30 { padding: 30px; }
.md\:pt_30 { padding-top: 30px; }
.md\:pb_30 { padding-bottom: 30px; }
.md\:pv_30 { padding-top: 30px; padding-bottom: 30px; }
.md\:pl_30 { padding-left: 30px; }
.md\:pr_30 { padding-right: 30px; }
.md\:ph_30 { padding-left: 30px; padding-right: 30px; }
.md\:p_35 { padding: 35px; }
.md\:pt_35 { padding-top: 35px; }
.md\:pb_35 { padding-bottom: 35px; }
.md\:pv_35 { padding-top: 35px; padding-bottom: 35px; }
.md\:pl_35 { padding-left: 35px; }
.md\:pr_35 { padding-right: 35px; }
.md\:ph_35 { padding-left: 35px; padding-right: 35px; }
.md\:p_40 { padding: 40px; }
.md\:pt_40 { padding-top: 40px; }
.md\:pb_40 { padding-bottom: 40px; }
.md\:pv_40 { padding-top: 40px; padding-bottom: 40px; }
.md\:pl_40 { padding-left: 40px; }
.md\:pr_40 { padding-right: 40px; }
.md\:ph_40 { padding-left: 40px; padding-right: 40px; }
.md\:p_45 { padding: 45px; }
.md\:pt_45 { padding-top: 45px; }
.md\:pb_45 { padding-bottom: 45px; }
.md\:pv_45 { padding-top: 45px; padding-bottom: 45px; }
.md\:pl_45 { padding-left: 45px; }
.md\:pr_45 { padding-right: 45px; }
.md\:ph_45 { padding-left: 45px; padding-right: 45px; }
.md\:p_50 { padding: 50px; }
.md\:pt_50 { padding-top: 50px; }
.md\:pb_50 { padding-bottom: 50px; }
.md\:pv_50 { padding-top: 50px; padding-bottom: 50px; }
.md\:pl_50 { padding-left: 50px; }
.md\:pr_50 { padding-right: 50px; }
.md\:ph_50 { padding-left: 50px; padding-right: 50px; }
.md\:ff_pri { font-family: 'Archivo Black', sans-serif; }
.md\:ff_sec { font-family: 'Montserrat', sans-serif; }
.md\:fz_8 { font-size: 8px; }
.md\:fz_10 { font-size: 10px; }
.md\:fz_12 { font-size: 12px; }
.md\:fz_14 { font-size: 14px; }
.md\:fz_16 { font-size: 16px; }
.md\:fz_18 { font-size: 18px; }
.md\:fz_20 { font-size: 20px; }
.md\:fz_22 { font-size: 22px; }
.md\:fz_24 { font-size: 24px; }
.md\:bd_n { border: none; }
.md\:bdt_n { border-top: none; }
.md\:bdb_n { border-bottom: none; }
.md\:bdl_n { border-left: none; }
.md\:bdr_n { border-right: none; }
.md\:bd_sep { border: 1px solid rgba(0,0,0,0.1); }
.md\:bdt_sep { border-top: 1px solid rgba(0,0,0,0.1); }
.md\:bdb_sep { border-bottom: 1px solid rgba(0,0,0,0.1); }
.md\:bdl_sep { border-left: 1px solid rgba(0,0,0,0.1); }
.md\:bdr_sep { border-right: 1px solid rgba(0,0,0,0.1); }
.md\:bd_frame { border: 10px solid #fff; }
.md\:bdt_frame { border-top: 10px solid #fff; }
.md\:bdb_frame { border-bottom: 10px solid #fff; }
.md\:bdl_frame { border-left: 10px solid #fff; }
.md\:bdr_frame { border-right: 10px solid #fff; }
.md\:bdrs_15 { border-radius: 15px; }
.md\:bdrs_50\% { border-radius: 50%; }
.md\:bgc_primary { background-color: #37474f; }
.md\:c_primary { color: #37474f; }
.md\:bgc_secondary { background-color: #9C8D5D; }
.md\:c_secondary { color: #9C8D5D; }
.md\:bgc_secondary_dark { background-color: #5C5337; }
.md\:c_secondary_dark { color: #5C5337; }
.md\:bgc_secondary_darker { background-color: #82764E; }
.md\:c_secondary_darker { color: #82764E; }
.md\:bgc_secondary_light { background-color: #A89965; }
.md\:c_secondary_light { color: #A89965; }
.md\:bgc_secondary_lighter { background-color: #E8D28B; }
.md\:c_secondary_lighter { color: #E8D28B; }
.md\:bgc_tertiary { background-color: #9C857C; }
.md\:c_tertiary { color: #9C857C; }
.md\:bgc_tertiary_light { background-color: #A88F85; }
.md\:c_tertiary_light { color: #A88F85; }
.md\:bgc_tertiary_lighter { background-color: #E8C5B7; }
.md\:c_tertiary_lighter { color: #E8C5B7; }
.md\:bgc_primary { background-color: #37474f; }
.md\:bgc_secondary { background-color: #9C8D5D; }
.md\:bgc_secondary_dark { background-color: #5C5337; }
.md\:bgc_secondary_darker { background-color: #82764E; }
.md\:bgc_secondary_light { background-color: #A89965; }
.md\:bgc_secondary_lighter { background-color: #E8D28B; }
.md\:bgc_tertiary { background-color: #9C857C; }
.md\:bgc_tertiary_light { background-color: #A88F85; }
.md\:bgc_tertiary_lighter { background-color: #E8C5B7; }
.md\:bgp_b { background-position: bottom; }
.md\:bgp_t { background-position: top; }
.md\:bgp_l { background-position: left; }
.md\:bgp_r { background-position: right; }
.md\:bgp_c { background-position: center; }
.md\:fx_a { flex: auto; }
.md\:fx_n { flex: none; }
.md\:fxb_a { flex-basis: auto; }
.md\:ord_u { order: unset; }
.md\:fxd_c { flex-direction: column; }
.md\:fxd_cr { flex-direction: column-reverse; }
.md\:fxd_r { flex-direction: row; }
.md\:fxd_rr { flex-direction: row-reverse; }
.md\:fxw_n { flex-wrap: nowrap; }
.md\:fxw_w { flex-wrap: wrap; }
.md\:fxw_we { flex-wrap: wrap-reverse; }
.md\:fxw_u { flex-wrap: unset; }
.md\:jc_u { justify-content: unset; }
.md\:jc_c { justify-content: center; }
.md\:jc_fe { justify-content: flex-end; }
.md\:jc_fs { justify-content: flex-start; }
.md\:jc_sa { justify-content: space-around; }
.md\:jc_sb { justify-content: space-between; }
.md\:ac_c { align-content: center; }
.md\:ac_fe { align-content: flex-end; }
.md\:ac_fs { align-content: flex-start; }
.md\:ac_s { align-content: stretch; }
.md\:ac_sa { align-content: space-around; }
.md\:ac_sb { align-content: space-between; }
.md\:ai_b { align-items: baseline; }
.md\:ai_c { align-items: center; }
.md\:ai_fe { align-items: flex-end; }
.md\:ai_fs { align-items: flex-start; }
.md\:ai_s { align-items: stretch; }
.md\:z_a { z-index: auto; }
.md\:bxsh_air { box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08); }
.md\:bxsh_n { box-shadow: none; }
.md\:tsh_n { text-shadow: none; }
.md\:d_n { display: none; }
.md\:d_i { display: inline; }
.md\:d_b { display: block; }
.md\:d_ib { display: inline-block; }
.md\:d_f { display: flex; }
.md\:d_if { display: inline-flex; }
.md\:d_t { display: table; }
.md\:d_g { display: grid; }
.md\:d_ig { display: inline-grid; }
.md\:pos_s { position: static; }
.md\:pos_r { position: relative; }
.md\:pos_a { position: absolute; }
.md\:pos_f { position: fixed; }
.md\:va_sup { vertical-align: super; }
.md\:va_t { vertical-align: top; }
.md\:va_tt { vertical-align: text-top; }
.md\:va_m { vertical-align: middle; }
.md\:va_bl { vertical-align: baseline; }
.md\:va_b { vertical-align: bottom; }
.md\:va_tb { vertical-align: text-bottom; }
.md\:va_sub { vertical-align: sub; }
.md\:ta_l { text-align: left; }
.md\:ta_c { text-align: center; }
.md\:ta_r { text-align: right; }
.md\:ta_j { text-align: justify; }
.md\:tal_a { text-align-last: auto; }
.md\:tal_l { text-align-last: left; }
.md\:tal_c { text-align-last: center; }
.md\:tal_r { text-align-last: right; }
.md\:td_n { text-decoration: none; }
.md\:td_u { text-decoration: underline; }
.md\:td_o { text-decoration: overline; }
.md\:td_l { text-decoration: line-through; }
.md\:te_n { text-emphasis: none; }
.md\:te_ac { text-emphasis: accent; }
.md\:te_dt { text-emphasis: dot; }
.md\:te_c { text-emphasis: circle; }
.md\:te_ds { text-emphasis: disc; }
.md\:te_b { text-emphasis: before; }
.md\:te_a { text-emphasis: after; }
.md\:tt_n { text-transform: none; }
.md\:tt_c { text-transform: capitalize; }
.md\:tt_u { text-transform: uppercase; }
.md\:tt_l { text-transform: lowercase; }
.md\:whs_n { white-space: normal; }
.md\:whs_p { white-space: pre; }
.md\:whs_nw { white-space: nowrap; }
.md\:whs_pw { white-space: pre-wrap; }
.md\:whs_pl { white-space: pre-line; }
.md\:v_v { visibility: visible; }
.md\:v_h { visibility: hidden; }
.md\:v_c { visibility: collapse; }
.md\:cur_a { cursor: auto; }
.md\:cur_d { cursor: default; }
.md\:cur_c { cursor: crosshair; }
.md\:cur_ha { cursor: hand; }
.md\:cur_he { cursor: help; }
.md\:cur_m { cursor: move; }
.md\:cur_p { cursor: pointer; }
.md\:cur_t { cursor: text; }
.md\:lis_n { list-style: none; }
.md\:lisp_i { list-style-position: inside; }
.md\:lisp_o { list-style-position: outside; }
.md\:list_n { list-style-type: none; }
.md\:list_d { list-style-type: disc; }
.md\:list_c { list-style-type: circle; }
.md\:list_s { list-style-type: square; }
.md\:list_dc { list-style-type: decimal; }
.md\:list_dclz { list-style-type: decimal-leading-zero; }
.md\:list_lr { list-style-type: lower-roman; }
.md\:list_ur { list-style-type: upper-roman; }
.md\:lisi_n { list-style-image: none; }
.md\:ov_v { overflow: visible; }
.md\:ov_h { overflow: hidden; }
.md\:ov_s { overflow: scroll; }
.md\:ov_a { overflow: auto; }
.md\:ovx_v { overflow-x: visible; }
.md\:ovx_h { overflow-x: hidden; }
.md\:ovx_s { overflow-x: scroll; }
.md\:ovx_a { overflow-x: auto; }
.md\:ovy_v { overflow-y: visible; }
.md\:ovy_h { overflow-y: hidden; }
.md\:ovy_s { overflow-y: scroll; }
.md\:ovy_a { overflow-y: auto; }
.md\:op_0 { opacity: 0; }
.md\:op_01 { opacity: 0.1; }
.md\:op_02 { opacity: 0.2; }
.md\:op_03 { opacity: 0.3; }
.md\:op_04 { opacity: 0.4; }
.md\:op_05 { opacity: 0.5; }
.md\:op_06 { opacity: 0.6; }
.md\:op_07 { opacity: 0.7; }
.md\:op_08 { opacity: 0.8; }
.md\:op_09 { opacity: 0.9; }
.md\:op_1 { opacity: 1; }
}

@media only screen and (min-width: 1024px) {
.lg\:w_a { width: auto; }
.lg\:w_0rem { width: 0rem; }
.lg\:miw_0rem { min-width: 0rem; }
.lg\:maw_0rem { max-width: 0rem; }
.lg\:w_0\.5rem { width: 0.5rem; }
.lg\:miw_0\.5rem { min-width: 0.5rem; }
.lg\:maw_0\.5rem { max-width: 0.5rem; }
.lg\:w_24rem { width: 24rem; }
.lg\:miw_24rem { min-width: 24rem; }
.lg\:maw_24rem { max-width: 24rem; }
.lg\:w_100\% { width: 100%; }
.lg\:miw_100\% { min-width: 100%; }
.lg\:maw_100\% { max-width: 100%; }
.lg\:h_a { height: auto; }
.lg\:h_50 { height: 50px; }
.lg\:mih_50 { min-height: 50px; }
.lg\:mah_50 { max-height: 50px; }
.lg\:h_100 { height: 100px; }
.lg\:mih_100 { min-height: 100px; }
.lg\:mah_100 { max-height: 100px; }
.lg\:m_0 { margin: 0px; }
.lg\:mt_0 { margin-top: 0px; }
.lg\:mb_0 { margin-bottom: 0px; }
.lg\:mver_0 { margin-top: 0px; margin-bottom: 0px; }
.lg\:ml_0 { margin-left: 0px; }
.lg\:mr_0 { margin-right: 0px; }
.lg\:mhor_0 { margin-left: 0px; margin-right: 0px; }
.lg\:m_5 { margin: 5px; }
.lg\:mt_5 { margin-top: 5px; }
.lg\:mb_5 { margin-bottom: 5px; }
.lg\:mver_5 { margin-top: 5px; margin-bottom: 5px; }
.lg\:ml_5 { margin-left: 5px; }
.lg\:mr_5 { margin-right: 5px; }
.lg\:mhor_5 { margin-left: 5px; margin-right: 5px; }
.lg\:m_10 { margin: 10px; }
.lg\:mt_10 { margin-top: 10px; }
.lg\:mb_10 { margin-bottom: 10px; }
.lg\:mver_10 { margin-top: 10px; margin-bottom: 10px; }
.lg\:ml_10 { margin-left: 10px; }
.lg\:mr_10 { margin-right: 10px; }
.lg\:mhor_10 { margin-left: 10px; margin-right: 10px; }
.lg\:m_15 { margin: 15px; }
.lg\:mt_15 { margin-top: 15px; }
.lg\:mb_15 { margin-bottom: 15px; }
.lg\:mver_15 { margin-top: 15px; margin-bottom: 15px; }
.lg\:ml_15 { margin-left: 15px; }
.lg\:mr_15 { margin-right: 15px; }
.lg\:mhor_15 { margin-left: 15px; margin-right: 15px; }
.lg\:m_20 { margin: 20px; }
.lg\:mt_20 { margin-top: 20px; }
.lg\:mb_20 { margin-bottom: 20px; }
.lg\:mver_20 { margin-top: 20px; margin-bottom: 20px; }
.lg\:ml_20 { margin-left: 20px; }
.lg\:mr_20 { margin-right: 20px; }
.lg\:mhor_20 { margin-left: 20px; margin-right: 20px; }
.lg\:m_25 { margin: 25px; }
.lg\:mt_25 { margin-top: 25px; }
.lg\:mb_25 { margin-bottom: 25px; }
.lg\:mver_25 { margin-top: 25px; margin-bottom: 25px; }
.lg\:ml_25 { margin-left: 25px; }
.lg\:mr_25 { margin-right: 25px; }
.lg\:mhor_25 { margin-left: 25px; margin-right: 25px; }
.lg\:m_30 { margin: 30px; }
.lg\:mt_30 { margin-top: 30px; }
.lg\:mb_30 { margin-bottom: 30px; }
.lg\:mver_30 { margin-top: 30px; margin-bottom: 30px; }
.lg\:ml_30 { margin-left: 30px; }
.lg\:mr_30 { margin-right: 30px; }
.lg\:mhor_30 { margin-left: 30px; margin-right: 30px; }
.lg\:m_35 { margin: 35px; }
.lg\:mt_35 { margin-top: 35px; }
.lg\:mb_35 { margin-bottom: 35px; }
.lg\:mver_35 { margin-top: 35px; margin-bottom: 35px; }
.lg\:ml_35 { margin-left: 35px; }
.lg\:mr_35 { margin-right: 35px; }
.lg\:mhor_35 { margin-left: 35px; margin-right: 35px; }
.lg\:m_40 { margin: 40px; }
.lg\:mt_40 { margin-top: 40px; }
.lg\:mb_40 { margin-bottom: 40px; }
.lg\:mver_40 { margin-top: 40px; margin-bottom: 40px; }
.lg\:ml_40 { margin-left: 40px; }
.lg\:mr_40 { margin-right: 40px; }
.lg\:mhor_40 { margin-left: 40px; margin-right: 40px; }
.lg\:m_45 { margin: 45px; }
.lg\:mt_45 { margin-top: 45px; }
.lg\:mb_45 { margin-bottom: 45px; }
.lg\:mver_45 { margin-top: 45px; margin-bottom: 45px; }
.lg\:ml_45 { margin-left: 45px; }
.lg\:mr_45 { margin-right: 45px; }
.lg\:mhor_45 { margin-left: 45px; margin-right: 45px; }
.lg\:m_50 { margin: 50px; }
.lg\:mt_50 { margin-top: 50px; }
.lg\:mb_50 { margin-bottom: 50px; }
.lg\:mver_50 { margin-top: 50px; margin-bottom: 50px; }
.lg\:ml_50 { margin-left: 50px; }
.lg\:mr_50 { margin-right: 50px; }
.lg\:mhor_50 { margin-left: 50px; margin-right: 50px; }
.lg\:m_-80 { margin: -80px; }
.lg\:mt_-80 { margin-top: -80px; }
.lg\:mb_-80 { margin-bottom: -80px; }
.lg\:mver_-80 { margin-top: -80px; margin-bottom: -80px; }
.lg\:ml_-80 { margin-left: -80px; }
.lg\:mr_-80 { margin-right: -80px; }
.lg\:mhor_-80 { margin-left: -80px; margin-right: -80px; }
.lg\:p_0 { padding: 0px; }
.lg\:pt_0 { padding-top: 0px; }
.lg\:pb_0 { padding-bottom: 0px; }
.lg\:pv_0 { padding-top: 0px; padding-bottom: 0px; }
.lg\:pl_0 { padding-left: 0px; }
.lg\:pr_0 { padding-right: 0px; }
.lg\:ph_0 { padding-left: 0px; padding-right: 0px; }
.lg\:p_5 { padding: 5px; }
.lg\:pt_5 { padding-top: 5px; }
.lg\:pb_5 { padding-bottom: 5px; }
.lg\:pv_5 { padding-top: 5px; padding-bottom: 5px; }
.lg\:pl_5 { padding-left: 5px; }
.lg\:pr_5 { padding-right: 5px; }
.lg\:ph_5 { padding-left: 5px; padding-right: 5px; }
.lg\:p_10 { padding: 10px; }
.lg\:pt_10 { padding-top: 10px; }
.lg\:pb_10 { padding-bottom: 10px; }
.lg\:pv_10 { padding-top: 10px; padding-bottom: 10px; }
.lg\:pl_10 { padding-left: 10px; }
.lg\:pr_10 { padding-right: 10px; }
.lg\:ph_10 { padding-left: 10px; padding-right: 10px; }
.lg\:p_15 { padding: 15px; }
.lg\:pt_15 { padding-top: 15px; }
.lg\:pb_15 { padding-bottom: 15px; }
.lg\:pv_15 { padding-top: 15px; padding-bottom: 15px; }
.lg\:pl_15 { padding-left: 15px; }
.lg\:pr_15 { padding-right: 15px; }
.lg\:ph_15 { padding-left: 15px; padding-right: 15px; }
.lg\:p_20 { padding: 20px; }
.lg\:pt_20 { padding-top: 20px; }
.lg\:pb_20 { padding-bottom: 20px; }
.lg\:pv_20 { padding-top: 20px; padding-bottom: 20px; }
.lg\:pl_20 { padding-left: 20px; }
.lg\:pr_20 { padding-right: 20px; }
.lg\:ph_20 { padding-left: 20px; padding-right: 20px; }
.lg\:p_25 { padding: 25px; }
.lg\:pt_25 { padding-top: 25px; }
.lg\:pb_25 { padding-bottom: 25px; }
.lg\:pv_25 { padding-top: 25px; padding-bottom: 25px; }
.lg\:pl_25 { padding-left: 25px; }
.lg\:pr_25 { padding-right: 25px; }
.lg\:ph_25 { padding-left: 25px; padding-right: 25px; }
.lg\:p_30 { padding: 30px; }
.lg\:pt_30 { padding-top: 30px; }
.lg\:pb_30 { padding-bottom: 30px; }
.lg\:pv_30 { padding-top: 30px; padding-bottom: 30px; }
.lg\:pl_30 { padding-left: 30px; }
.lg\:pr_30 { padding-right: 30px; }
.lg\:ph_30 { padding-left: 30px; padding-right: 30px; }
.lg\:p_35 { padding: 35px; }
.lg\:pt_35 { padding-top: 35px; }
.lg\:pb_35 { padding-bottom: 35px; }
.lg\:pv_35 { padding-top: 35px; padding-bottom: 35px; }
.lg\:pl_35 { padding-left: 35px; }
.lg\:pr_35 { padding-right: 35px; }
.lg\:ph_35 { padding-left: 35px; padding-right: 35px; }
.lg\:p_40 { padding: 40px; }
.lg\:pt_40 { padding-top: 40px; }
.lg\:pb_40 { padding-bottom: 40px; }
.lg\:pv_40 { padding-top: 40px; padding-bottom: 40px; }
.lg\:pl_40 { padding-left: 40px; }
.lg\:pr_40 { padding-right: 40px; }
.lg\:ph_40 { padding-left: 40px; padding-right: 40px; }
.lg\:p_45 { padding: 45px; }
.lg\:pt_45 { padding-top: 45px; }
.lg\:pb_45 { padding-bottom: 45px; }
.lg\:pv_45 { padding-top: 45px; padding-bottom: 45px; }
.lg\:pl_45 { padding-left: 45px; }
.lg\:pr_45 { padding-right: 45px; }
.lg\:ph_45 { padding-left: 45px; padding-right: 45px; }
.lg\:p_50 { padding: 50px; }
.lg\:pt_50 { padding-top: 50px; }
.lg\:pb_50 { padding-bottom: 50px; }
.lg\:pv_50 { padding-top: 50px; padding-bottom: 50px; }
.lg\:pl_50 { padding-left: 50px; }
.lg\:pr_50 { padding-right: 50px; }
.lg\:ph_50 { padding-left: 50px; padding-right: 50px; }
.lg\:ff_pri { font-family: 'Archivo Black', sans-serif; }
.lg\:ff_sec { font-family: 'Montserrat', sans-serif; }
.lg\:fz_8 { font-size: 8px; }
.lg\:fz_10 { font-size: 10px; }
.lg\:fz_12 { font-size: 12px; }
.lg\:fz_14 { font-size: 14px; }
.lg\:fz_16 { font-size: 16px; }
.lg\:fz_18 { font-size: 18px; }
.lg\:fz_20 { font-size: 20px; }
.lg\:fz_22 { font-size: 22px; }
.lg\:fz_24 { font-size: 24px; }
.lg\:bd_n { border: none; }
.lg\:bdt_n { border-top: none; }
.lg\:bdb_n { border-bottom: none; }
.lg\:bdl_n { border-left: none; }
.lg\:bdr_n { border-right: none; }
.lg\:bd_sep { border: 1px solid rgba(0,0,0,0.1); }
.lg\:bdt_sep { border-top: 1px solid rgba(0,0,0,0.1); }
.lg\:bdb_sep { border-bottom: 1px solid rgba(0,0,0,0.1); }
.lg\:bdl_sep { border-left: 1px solid rgba(0,0,0,0.1); }
.lg\:bdr_sep { border-right: 1px solid rgba(0,0,0,0.1); }
.lg\:bd_frame { border: 10px solid #fff; }
.lg\:bdt_frame { border-top: 10px solid #fff; }
.lg\:bdb_frame { border-bottom: 10px solid #fff; }
.lg\:bdl_frame { border-left: 10px solid #fff; }
.lg\:bdr_frame { border-right: 10px solid #fff; }
.lg\:bdrs_15 { border-radius: 15px; }
.lg\:bdrs_50\% { border-radius: 50%; }
.lg\:bgc_primary { background-color: #37474f; }
.lg\:c_primary { color: #37474f; }
.lg\:bgc_secondary { background-color: #9C8D5D; }
.lg\:c_secondary { color: #9C8D5D; }
.lg\:bgc_secondary_dark { background-color: #5C5337; }
.lg\:c_secondary_dark { color: #5C5337; }
.lg\:bgc_secondary_darker { background-color: #82764E; }
.lg\:c_secondary_darker { color: #82764E; }
.lg\:bgc_secondary_light { background-color: #A89965; }
.lg\:c_secondary_light { color: #A89965; }
.lg\:bgc_secondary_lighter { background-color: #E8D28B; }
.lg\:c_secondary_lighter { color: #E8D28B; }
.lg\:bgc_tertiary { background-color: #9C857C; }
.lg\:c_tertiary { color: #9C857C; }
.lg\:bgc_tertiary_light { background-color: #A88F85; }
.lg\:c_tertiary_light { color: #A88F85; }
.lg\:bgc_tertiary_lighter { background-color: #E8C5B7; }
.lg\:c_tertiary_lighter { color: #E8C5B7; }
.lg\:bgc_primary { background-color: #37474f; }
.lg\:bgc_secondary { background-color: #9C8D5D; }
.lg\:bgc_secondary_dark { background-color: #5C5337; }
.lg\:bgc_secondary_darker { background-color: #82764E; }
.lg\:bgc_secondary_light { background-color: #A89965; }
.lg\:bgc_secondary_lighter { background-color: #E8D28B; }
.lg\:bgc_tertiary { background-color: #9C857C; }
.lg\:bgc_tertiary_light { background-color: #A88F85; }
.lg\:bgc_tertiary_lighter { background-color: #E8C5B7; }
.lg\:bgp_b { background-position: bottom; }
.lg\:bgp_t { background-position: top; }
.lg\:bgp_l { background-position: left; }
.lg\:bgp_r { background-position: right; }
.lg\:bgp_c { background-position: center; }
.lg\:fx_a { flex: auto; }
.lg\:fx_n { flex: none; }
.lg\:fxb_a { flex-basis: auto; }
.lg\:ord_u { order: unset; }
.lg\:fxd_c { flex-direction: column; }
.lg\:fxd_cr { flex-direction: column-reverse; }
.lg\:fxd_r { flex-direction: row; }
.lg\:fxd_rr { flex-direction: row-reverse; }
.lg\:fxw_n { flex-wrap: nowrap; }
.lg\:fxw_w { flex-wrap: wrap; }
.lg\:fxw_we { flex-wrap: wrap-reverse; }
.lg\:fxw_u { flex-wrap: unset; }
.lg\:jc_u { justify-content: unset; }
.lg\:jc_c { justify-content: center; }
.lg\:jc_fe { justify-content: flex-end; }
.lg\:jc_fs { justify-content: flex-start; }
.lg\:jc_sa { justify-content: space-around; }
.lg\:jc_sb { justify-content: space-between; }
.lg\:ac_c { align-content: center; }
.lg\:ac_fe { align-content: flex-end; }
.lg\:ac_fs { align-content: flex-start; }
.lg\:ac_s { align-content: stretch; }
.lg\:ac_sa { align-content: space-around; }
.lg\:ac_sb { align-content: space-between; }
.lg\:ai_b { align-items: baseline; }
.lg\:ai_c { align-items: center; }
.lg\:ai_fe { align-items: flex-end; }
.lg\:ai_fs { align-items: flex-start; }
.lg\:ai_s { align-items: stretch; }
.lg\:z_a { z-index: auto; }
.lg\:bxsh_air { box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08); }
.lg\:bxsh_n { box-shadow: none; }
.lg\:tsh_n { text-shadow: none; }
.lg\:d_n { display: none; }
.lg\:d_i { display: inline; }
.lg\:d_b { display: block; }
.lg\:d_ib { display: inline-block; }
.lg\:d_f { display: flex; }
.lg\:d_if { display: inline-flex; }
.lg\:d_t { display: table; }
.lg\:d_g { display: grid; }
.lg\:d_ig { display: inline-grid; }
.lg\:pos_s { position: static; }
.lg\:pos_r { position: relative; }
.lg\:pos_a { position: absolute; }
.lg\:pos_f { position: fixed; }
.lg\:va_sup { vertical-align: super; }
.lg\:va_t { vertical-align: top; }
.lg\:va_tt { vertical-align: text-top; }
.lg\:va_m { vertical-align: middle; }
.lg\:va_bl { vertical-align: baseline; }
.lg\:va_b { vertical-align: bottom; }
.lg\:va_tb { vertical-align: text-bottom; }
.lg\:va_sub { vertical-align: sub; }
.lg\:ta_l { text-align: left; }
.lg\:ta_c { text-align: center; }
.lg\:ta_r { text-align: right; }
.lg\:ta_j { text-align: justify; }
.lg\:tal_a { text-align-last: auto; }
.lg\:tal_l { text-align-last: left; }
.lg\:tal_c { text-align-last: center; }
.lg\:tal_r { text-align-last: right; }
.lg\:td_n { text-decoration: none; }
.lg\:td_u { text-decoration: underline; }
.lg\:td_o { text-decoration: overline; }
.lg\:td_l { text-decoration: line-through; }
.lg\:te_n { text-emphasis: none; }
.lg\:te_ac { text-emphasis: accent; }
.lg\:te_dt { text-emphasis: dot; }
.lg\:te_c { text-emphasis: circle; }
.lg\:te_ds { text-emphasis: disc; }
.lg\:te_b { text-emphasis: before; }
.lg\:te_a { text-emphasis: after; }
.lg\:tt_n { text-transform: none; }
.lg\:tt_c { text-transform: capitalize; }
.lg\:tt_u { text-transform: uppercase; }
.lg\:tt_l { text-transform: lowercase; }
.lg\:whs_n { white-space: normal; }
.lg\:whs_p { white-space: pre; }
.lg\:whs_nw { white-space: nowrap; }
.lg\:whs_pw { white-space: pre-wrap; }
.lg\:whs_pl { white-space: pre-line; }
.lg\:v_v { visibility: visible; }
.lg\:v_h { visibility: hidden; }
.lg\:v_c { visibility: collapse; }
.lg\:cur_a { cursor: auto; }
.lg\:cur_d { cursor: default; }
.lg\:cur_c { cursor: crosshair; }
.lg\:cur_ha { cursor: hand; }
.lg\:cur_he { cursor: help; }
.lg\:cur_m { cursor: move; }
.lg\:cur_p { cursor: pointer; }
.lg\:cur_t { cursor: text; }
.lg\:lis_n { list-style: none; }
.lg\:lisp_i { list-style-position: inside; }
.lg\:lisp_o { list-style-position: outside; }
.lg\:list_n { list-style-type: none; }
.lg\:list_d { list-style-type: disc; }
.lg\:list_c { list-style-type: circle; }
.lg\:list_s { list-style-type: square; }
.lg\:list_dc { list-style-type: decimal; }
.lg\:list_dclz { list-style-type: decimal-leading-zero; }
.lg\:list_lr { list-style-type: lower-roman; }
.lg\:list_ur { list-style-type: upper-roman; }
.lg\:lisi_n { list-style-image: none; }
.lg\:ov_v { overflow: visible; }
.lg\:ov_h { overflow: hidden; }
.lg\:ov_s { overflow: scroll; }
.lg\:ov_a { overflow: auto; }
.lg\:ovx_v { overflow-x: visible; }
.lg\:ovx_h { overflow-x: hidden; }
.lg\:ovx_s { overflow-x: scroll; }
.lg\:ovx_a { overflow-x: auto; }
.lg\:ovy_v { overflow-y: visible; }
.lg\:ovy_h { overflow-y: hidden; }
.lg\:ovy_s { overflow-y: scroll; }
.lg\:ovy_a { overflow-y: auto; }
.lg\:op_0 { opacity: 0; }
.lg\:op_01 { opacity: 0.1; }
.lg\:op_02 { opacity: 0.2; }
.lg\:op_03 { opacity: 0.3; }
.lg\:op_04 { opacity: 0.4; }
.lg\:op_05 { opacity: 0.5; }
.lg\:op_06 { opacity: 0.6; }
.lg\:op_07 { opacity: 0.7; }
.lg\:op_08 { opacity: 0.8; }
.lg\:op_09 { opacity: 0.9; }
.lg\:op_1 { opacity: 1; }
}
